* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%; 
}
header {
    width: 100%;
    height: 8rem;
    margin-top: 5.7rem;
}
header .logo-wikipedia{
    width: 17rem;
    height: 100%; 
    margin: 0 auto;
    text-align: center;
}
header .logo-wikipedia .logo-wikipedia-texto{
    display: block;
    width: 100%;
    height: 3.2rem;
    margin-bottom: 0.5rem;
}
header .logo-wikipedia img{
    width: 100%;
    height: 100%;
}
header .logo-wikipedia .logo-wikipedia-eslogan{
    font-size: 1.5rem;
    font-family: Linux Libertine,Georgia,Times,serif;

}
main {
    width: 50.46rem;
    margin: 0 auto;
}
main .main-navigation{
    width: 50.46rem;
    height: 32.5rem;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
}

main .main-navigation .box1{
    display: flex;
    justify-content: space-around;
}
main .main-navigation .box2{
    display: flex;
    justify-content: space-between;
    margin: auto 0.5rem;
}
main .main-navigation .box3{
    display: flex;
    justify-content: space-between;
}
main .main-navigation .box4{
    display: flex;
    justify-content: space-between;
    margin: auto 0.5rem;
}
main .main-navigation .box5{
    display: flex;
    justify-content: space-around;
}

main .main-navigation .box{
    width: 14rem;
    height: 6.5rem;
    display: block;  
}
main .main-navigation .box .link-box{ 
    text-align: center;
    text-decoration: none;
}
main .main-navigation .box .link-box strong{
    font-size: 1.6rem;
    display: block;
    margin-bottom:0.3rem;
}

main .main-navigation .box .link-box small{
    color: #54595d;
    display: block;
    font-size: 1.3rem; 
}

main .world-wikipedia{
    width: 20rem;
    height: 18.3;
    margin: auto;
    margin-top: 5rem;
    position: absolute;
    margin-left: 15rem;
}
main .world-wikipedia img{
    width: 100%;
    height: 100%;
}