* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%; 
}
header {
    width: 100%;
    height: 8rem;
    margin-top: 5.7rem;
}
header .logo-wikipedia{
    width: 17rem;
    height: 100%; 
    margin: 0 auto;
    text-align: center;
}
header .logo-wikipedia .logo-wikipedia-texto{
    display: block;
    width: 100%;
    height: 3.2rem;
    margin-bottom: 0.5rem;
}
header .logo-wikipedia img{
    width: 100%;
    height: 100%;
}
header .logo-wikipedia .logo-wikipedia-eslogan{
    font-size: 1.5rem;
    font-family: Linux Libertine,Georgia,Times,serif;

}
main {
    width: 50.46rem;
    margin: 0 auto;
}
main .main-navigation{
    width: 50.46rem;
    height: 32.5rem;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
}

main .main-navigation .box1{
    display: flex;
    justify-content: space-around;
}
main .main-navigation .box2{
    display: flex;
    justify-content: space-between;
    margin: auto 0.5rem;
}
main .main-navigation .box3{
    display: flex;
    justify-content: space-between;
}
main .main-navigation .box4{
    display: flex;
    justify-content: space-between;
    margin: auto 0.5rem;
}
main .main-navigation .box5{
    display: flex;
    justify-content: space-around;
}

main .main-navigation .box{
    width: 14rem;
    height: 6.5rem;
    display: block;  
}
main .main-navigation .box .link-box{ 
    text-align: center;
    text-decoration: none;
}
main .main-navigation .box .link-box strong{
    font-size: 1.6rem;
    display: block;
    margin-bottom:0.3rem;
}
main .main-navigation .box .link-box strong:hover{
    color: cornflowerblue;
    text-decoration: underline;
    cursor: pointer;
}

main .main-navigation .box .link-box small{
    color: #54595d;
    display: block;
    font-size: 1.3rem; 
}

main .world-wikipedia{
    width: 20rem;
    height: 18.3;
    margin: auto;
    margin-top: 5rem;
    position: absolute;
    margin-left: 15rem;
}
main .world-wikipedia img{
    width: 100%;
    height: 100%;
}

/* SECTION INPUT */

main .input-search{
    width: 100%;
    height: 5rem;
}
main .input-search form{
    width: 50rem;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
main .input-search form input {
    display: inline-block;
    width: 39.5rem;
    height: 4.4rem;
    outline-color: blueviolet;
    font-size: 1.6rem;
    transition: background .1s ease,border-color .1s ease,box-shadow .1s ease;
    border: 1px solid #a2a9b1;
    padding: 0.8rem;
    box-shadow: inset 0 0 0 1px #fff;
}
main .input-search form select {
    width: 6rem;
    height: 3rem; 
    margin-left: -8rem;
    border: 0;
    outline-color: blueviolet;
    color: rgb(132, 132, 212);
    font-size: 1.5rem;
    outline-color: blue;
}

main .input-search form button {
    min-height: 4.4rem;
    margin: 0;
    border-radius: 0 0.2rem 0.2rem 0;
    padding: 8px 16px;
    padding: 0.8rem 1.6rem;
    background-color: blue;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    color: blanchedalmond;
    font-size: 1.5rem;
    margin-right: -1rem;
    border: 0.1rem;
}
main .input-search form button:hover{
    background-color: cornflowerblue;
    cursor: pointer;
}

main .button-list{
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    height: 5rem; 
    padding-left: 2rem;
}
main .button-list .lista{
    width: 50rem;
    height: 5rem;
    display: flex;
    justify-content: center; 

}
main .button-list .lista div{
    height: 5rem;
    width: 13rem;
    padding: 1rem;
    display: inline-block;
    margin-top: 1rem;
}

main .button-list .lista select{
    padding: 1rem;
    top: 2rem;
    height: 4rem;
    cursor: pointer;
    outline-color: blueviolet;
    color: blueviolet;
    font-size: 1.6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
hr{
    top: 1rem;
    margin: 1rem;
    color: #54595d;
}

footer{
    width: 100%;
    padding: 1rem;
    font-size: 1.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    
}
footer .aside{
    width: 35%;
    text-align: center;
    padding-left: 5rem;
}

footer .aside .estilosDescription{
    margin-left: 5rem;
    color: #54595d;
    display: inline-block;
    width: 80%;
    text-align: left;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}
footer .aside .iconoWiki{
    margin-top: 0.5rem;
    width: 4rem;
    height: 4rem; 
    display: inline-block; 
    position: absolute;
}

footer .aside .logoproyectos{
    height: 100%;
    border-radius: 50%;
    display: inline-block;
}
footer .aside .logoDeWiki{
    height: 100%;
    display: inline-block;
    border-radius: 0.4rem;
    border: 0.15rem solid #d1d9df;
    padding: 0.3rem;
    background-color: white;
}
footer .aside .fundation{
    margin-bottom: 2rem;
    width: 90%;
}
footer .aside .descargawiki{
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    width: 90%;
}

footer .aside p{
    margin-bottom: 1rem;
}
footer .aside .descargawiki .tiendasApp{
    width: 100%;
    margin-top: 1rem;
}
footer .aside .descargawiki .tiendasApp .googleplay{
    width: 12rem;
    height: 4rem;
    display: inline-block;
}



footer .other-proyect {
    width: 65%;
    display: flex;
    flex-direction: column;
}
footer .other-proyect .tree-proyect{
    width: 100%;
    height: 9rem;
    display: flex;
    justify-content: space-between;
}
footer .other-proyect .tree-proyect .proyect{
    height: 9rem;
    width: 30%; 
    display: inline-block;
}

footer .other-proyect .tree-proyect .proyect a{
    width: 100%;
    height: 100%;
}
footer .other-proyect .tree-proyect .proyect a figure{
    width: 3.7rem;
    height: 3.7rem;
    display: inline-block;
    position: absolute;
}
footer .other-proyect .tree-proyect .proyect a figure img{
    width: 100%;
    height: 100%;
}
footer .other-proyect .tree-proyect .proyect a .txt{
    display: inline-block;
    width: 15rem;
    height: 5.9rem;
    margin-left: 4.5rem;
}
footer .other-proyect .tree-proyect .proyect a .txt .name{
    display: block;
    width: 100%;
    height: 2.1rem;
    color: blueviolet;
}
footer .other-proyect .tree-proyect .proyect a .txt .description{
    display: block;
    width: 100%;
    height: 3.8rem;
    color: #54595d;
}

